{% extends 'layout-public.html' %}

{% block pageTitle %}
  Page templates - NHS.UK prototype kit
{% endblock %}

{% block content %}
 <div class="nhsuk-width-container">
		<main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="content" role="main">
			
		
	

			<div class="nhsuk-grid-row">
				<div class="nhsuk-grid-column-two-thirds">
		


					<form name="enrolmentForm" action="/lsf-public/v10/sign-in/final-year" method="post" novalidate=""><input type="hidden" name="_csrf" value="90b82244-08f4-4ca5-98ce-9dd440c53438">
						
						
						<h1 class="nhsuk-heading-l">
							<span class="nhsuk-caption-l" id="secondary-heading">
								Course details
								<span class="nhsuk-u-visually-hidden"> - </span>
							</span>
							How long is the course you are studying?
						</h1>

						

						<div class="nhsuk-form-group" id="course-group">

							<fieldset class="nhsuk-fieldset" id="course">
								<legend class="nhsuk-fieldset__legend nhsuk-u-visually-hidden">Course name</legend>

								<div class="nhsuk-radios">
									
									
										<div class="nhsuk-radios__item">
											<div class="nhsuk-multiple-choice">
												<input type="radio" id="course[0]" value="350" class="nhsuk-radios__input" name="course"> <label class="nhsuk-label nhsuk-radios__label" for="course[0]">3 years</label>
											</div>
										</div>
									
									
								</div>
							</fieldset>
						</div>

						<div class="nhsuk-form-group">
							<button class="nhsuk-button" type="submit" name="next" id="continue">Continue</button>
						</div>
					</form>
				</div>
			</div>
			
		
		<script>
			function cancel(){
				document.getElementById("dialog-content-1").tabIndex = 0;
				document.getElementById("dialog-signOut").ariaHidden = true;
			}
		</script>
	
		</main>
	</div>
{% endblock %}
