{% extends 'layout-public.html' %}

{% block pageTitle %}
  Page templates - NHS.UK prototype kit
{% endblock %}

{% block content %}
 <div class="nhsuk-width-container">
	<main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="content" role="main">
				
		<div class="nhsuk-phase-banner nhsuk-u-margin-bottom-5 no-print">
  		<p class="nhsuk-phase-banner__content">
    		<strong class="nhsuk-tag nhsuk-phase-banner__content__tag">BETA</strong>
    		<span class="nhsuk-phase-banner__text">
      		This is a new service - your
				
				
					<a class="nhsuk-link" target="_blank" rel="noopener" href="https://online1.snapsurveys.com/LSF_TDAE_Banner_Survey?pnm=/student/dhsc/start" id="feedback">feedback (opens in a new tab)</a> will help us to improve it.
				

				</span>
  		</p>
		</div>
	
				<div class="nhsuk-grid-row">
					<div class="nhsuk-grid-column-two-thirds">
						<div class="nhsuk-back-link">
		<a class="nhsuk-back-link__link" href="/student/dhsc/intro?enrolmentUuid=cec30eb8-0743-4093-9130-43209b4abb38" id="back">
			<svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
				<path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
			</svg> Go back
		</a>
	</div>
						<form name="dhscQuestionForm" action="/student/dhsc/question/0" method="post" novalidate=""><input type="hidden" name="_csrf" value="e537ce35-c197-4694-a1ce-a74677fd4fb0">
							
							
							<fieldset class="nhsuk-fieldset" id="question0">
								<legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
									<h1 class="nhsuk-fieldset__heading">
										<span class="nhsuk-caption-l">Department of Health and Social Care questionnaire
											<span class="nhsuk-u-visually-hidden"> - </span>
										</span>
										Is this your first year of application?
									</h1>
								</legend>
									
								<div class="nhsuk-form-group" id="group-studentLoan">
									

									<div class="nhsuk-radios">
										<div class="nhsuk-radios__item">
											<input type="radio" id="optionYes" value="1" class="nhsuk-radios__input" name="question0">
											<label class="nhsuk-label nhsuk-radios__label" for="optionYes">Yes</label>
										</div>
										<div class="nhsuk-radios__item">
											<input type="radio" id="optionNo" value="0" class="nhsuk-radios__input" name="question0">
											<label class="nhsuk-label nhsuk-radios__label" for="optionNo">No</label>
										</div>
									</div>
								</div>
							</fieldset>

							<div class="nhsuk-form-group">
								<button class="nhsuk-button" type="submit" name="next" id="continue" data-module="nhsuk-button" data-prevent-double-click="true" data-submit="true">Continue</button>
								<p><a href="/student/student-details/view" id="cancel">Cancel<span class="nhsuk-u-visually-hidden"> and return to student dashboard</span></a></p>
							</div>
						</form>
					</div>
				</div>
				
		<div class="dialog" id="dialog-signOut" aria-hidden="true">
			<div class="dialog-holder" aria-labelledby="dialog-title-1" aria-describedby="dialog-content-1" role="alertdialog">
				<div class="dialog-content" id="dialog-content-1" role="document" tabindex="0">
					<h1 class="dialog-heading" id="dialog-title-1">Sign out</h1>
					<form class="form">
						<p>This will end your session. Are you sure you want to sign out?</p>
						<div class="dialog-actions">
							<a id="logoutYes" class="nhsuk-button nhsuk-u-margin-right-4" role="button" href="/student/logout">Yes</a>
							<a id="logoutNo" class="nhsuk-button nhsuk-button--secondary" role="button" href="#" onclick="cancel()">No</a><p></p>
						</div>

						<a class="dialog-close" aria-label="close" type="button">
							<span class="icon icon-close">x</span>
						</a>
					</form>
				</div>
			</div>
		</div>
		<script>
			function cancel(){
				document.getElementById("dialog-content-1").tabIndex = 0;
				document.getElementById("dialog-signOut").ariaHidden = true;
			}
		</script>
	
			</main>
	</div>
{% endblock %}
