{% extends 'layout.html' %}

{% block pageTitle %}
  Page templates - NHS.UK prototype kit
{% endblock %}

{% block content %}
 <div class="nhsuk-width-container">
		<main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="content" role="main">
			
	
	

			<div class="nhsuk-grid-row">
				<div class="nhsuk-grid-column-two-thirds">
		
	</div>

					<form name="enrolmentForm" action="/student/enrol/course" method="post" novalidate=""><input type="hidden" name="_csrf" value="90b82244-08f4-4ca5-98ce-9dd440c53438">
						
						
						<h1 class="nhsuk-heading-l">
							<span class="nhsuk-caption-l" id="secondary-heading">
								Course details
								<span class="nhsuk-u-visually-hidden"> - </span>
							</span>
							Which course are you studying?
						</h1>

						<div class="nhsuk-form-group">
							<p>This is the course you'll be studying during the 2022/23 academic year.</p>
						</div>
						

						<div class="nhsuk-form-group" id="course-group">

							<fieldset class="nhsuk-fieldset" id="course">
								<legend class="nhsuk-fieldset__legend nhsuk-u-visually-hidden">Course name</legend>

								<div class="nhsuk-radios">
									
									
										<div class="nhsuk-radios__item">
											<div class="nhsuk-multiple-choice">
												<input type="radio" id="course[0]" value="350" class="nhsuk-radios__input" name="course"> <label class="nhsuk-label nhsuk-radios__label" for="course[0]">Adult Nursing</label>
											</div>
										</div>
									
										<div class="nhsuk-radios__item">
											<div class="nhsuk-multiple-choice">
												<input type="radio" id="course[1]" value="351" class="nhsuk-radios__input" name="course"> <label class="nhsuk-label nhsuk-radios__label" for="course[1]">Language Pathology (MSc)</label>
											</div>
										</div>
									
										<div class="nhsuk-radios__item">
											<div class="nhsuk-multiple-choice">
												<input type="radio" id="course[2]" value="352" class="nhsuk-radios__input" name="course"> <label class="nhsuk-label nhsuk-radios__label" for="course[2]">Mental Health Nursing</label>
											</div>
										</div>
									
										<div class="nhsuk-radios__item">
											<div class="nhsuk-multiple-choice">
												<input type="radio" id="course[3]" value="353" class="nhsuk-radios__input" name="course"> <label class="nhsuk-label nhsuk-radios__label" for="course[3]">Speech and Language Therapy</label>
											</div>
										</div>
									
								</div>
							</fieldset>
						</div>

						<div class="nhsuk-form-group">
							<button class="nhsuk-button" type="submit" name="next" id="continue">Continue</button>
						</div>
						<p class="nhsuk-body">If you cannot find your course, you can <a href="https://www.nhsbsa.nhs.uk/nhs-learning-support-fund-lsf/contact-us" target="_blank" rel="noopener" id="contactUsLink">contact us (opens in a new tab)</a>.</p>
					</form>
				</div>
			</div>
			
		<div class="dialog" id="dialog-signOut" aria-hidden="true">
			<div class="dialog-holder" aria-labelledby="dialog-title-1" aria-describedby="dialog-content-1" role="alertdialog">
				<div class="dialog-content" id="dialog-content-1" role="document" tabindex="0">
					<h1 class="dialog-heading" id="dialog-title-1">Sign out</h1>
					<form class="form">
						<p>This will end your session. Are you sure you want to sign out?</p>
						<div class="dialog-actions">
							<a id="logoutYes" class="nhsuk-button nhsuk-u-margin-right-4" role="button" href="/student/logout">Yes</a>
							<a id="logoutNo" class="nhsuk-button nhsuk-button--secondary" role="button" href="#" onclick="cancel()">No</a><p></p>
						</div>

						<a class="dialog-close" aria-label="close" type="button">
							<span class="icon icon-close">x</span>
						</a>
					</form>
				</div>
			</div>
		</div>
		<script>
			function cancel(){
				document.getElementById("dialog-content-1").tabIndex = 0;
				document.getElementById("dialog-signOut").ariaHidden = true;
			}
		</script>
	
		</main>
	</div>
{% endblock %}
