{% extends 'layout-public.html' %}

{% block pageTitle %}
Task list
{% endblock %}

{% block content %}
{% set claimingFor = data['claiming-for'] or [] %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-l">
      Travel and Dual Accommodation Expenses task list
    </h1>

    <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">
      There are incomplete tasks
    </h2>

    <p class="nhsuk-body nhsuk-u-margin-bottom-7">
      You have completed <span id="completedCount">0</span> of
      <span id="sectionLength">5</span> sections.
    </p>

    <div class="nhsuk-warning-callout">
      <h3 class="nhsuk-warning-callout__label">
        <span role="text">
          <span class="nhsuk-u-visually-hidden">Important: </span>
          University feedback
        </span>
      </h3>
      <p>
        The evidence uploaded for insurance is the same as the evidence uploaded
        for visa fees.
      </p>
    </div>

    <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-top-0">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Claim notes and history
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <table class="nhsuk-table">
          <thead class="nhsuk-table__head">
            <tr>
              <th scope="col">From</th>
              <th scope="col">Date</th>
              <th scope="col">Notes</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">

            {% if data['cancelled'] == 'true' %}
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">{{ data['name'] or 'Joe Bloggs' }}</td>
              <td class="nhsuk-table__cell">
                <span class="currentDate"></span> at 03:00pm
              </td>
              <td class="nhsuk-table__cell">
                <strong>Claim cancelled</strong>
              </td>
            </tr>
            {% endif %}

            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Jeremy Bellingham (University)</td>
              <td class="nhsuk-table__cell">
                <span class="currentDate"></span> at 10:24am
              </td>
              <td class="nhsuk-table__cell">
                <strong>Returned to student</strong><br>
                The evidence uploaded for insurance is the same as the evidence
                uploaded for visa fees.
              </td>
            </tr>

            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">{{ data['name'] or 'Joe Bloggs' }}</td>
              <td class="nhsuk-table__cell">
                5 August 2024 at 11:29am
              </td>
              <td class="nhsuk-table__cell">
                <strong>Claim submitted</strong>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </details>

    <!-- 1. Claim overview -->
    <h2 class="nhsuk-heading-m">1. Claim overview</h2>
    <ul class="nhsuk-task-list section-item">
      <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
        <div class="nhsuk-task-list__name-and-hint">
          <a class="nhsuk-task-list__link" href="TDAE-eligibility-cya">
            Claim overview
          </a>
        </div>
        <div class="nhsuk-task-list__status task-status">
          Completed
        </div>
      </li>
    </ul>

    {% if
    'car' in claimingFor or
    'Public transport' in claimingFor or
    'Cycle' in claimingFor or
    'community' in claimingFor or
    'travel to accommodation' in claimingFor or
    'taxi' in claimingFor
    %}
    <!-- 2. Travel costs -->
    <h2 class="nhsuk-heading-m">2. Travel costs</h2>
    <ul class="nhsuk-task-list section-item">
      <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
        <div class="nhsuk-task-list__name-and-hint">
          {% if data['university-details'] === 'completed' %}
          <a class="nhsuk-task-list__link" href="TDAE-normal-summary-cya">
            University travel details
          </a>
          {% elif data['university-details'] === 'reused' %}
          <a class="nhsuk-task-list__link" href="TDAE-normal-summary-cya?mode-of-transport=walk">
            University travel details
          </a>
          {% else %}
          <a class="nhsuk-task-list__link" href="TDAE-normal-place-study">
            University travel details
          </a>
          {% endif %}
        </div>

        <div class="nhsuk-task-list__status task-status">
          {% if data['university-details'] === 'completed' %}
          Completed
          {% elif data['university-details'] === 'reused' %}
          <strong class="nhsuk-tag nhsuk-tag--blue">Needs reviewing</strong>
          {% else %}
          <strong class="nhsuk-tag nhsuk-tag--white task-status">
            Not started
          </strong>
          {% endif %}
        </div>
      </li>
    </ul>
    {% endif %}

    <!-- Overseas costs -->
    <h2 class="nhsuk-heading-m">
      {% if 'car' in claimingFor %}3{% else %}2{% endif %}. Overseas costs
    </h2>
    <ul class="nhsuk-task-list section-item">
      <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
        <div class="nhsuk-task-list__name-and-hint">
          {% if data['overseas-details'] === 'completed' %}
          <a class="nhsuk-task-list__link" href="TDAE-overseas/overseas-check">
            Overseas costs details and evidence
          </a>
          {% elif data['overseas-details'] === 'action' %}
          <a class="nhsuk-task-list__link" href="TDAE-overseas/overseas-check-2?overseas-details=action">
            Overseas costs details and evidence
          </a>
          {% else %}
          <a class="nhsuk-task-list__link" href="TDAE-overseas/authorisation">
            Overseas costs details and evidence
          </a>
          {% endif %}
        </div>

        <div class="nhsuk-task-list__status task-status">
          {% if data['overseas-details'] === 'completed' %}
          Completed
          {% elif data['overseas-details'] === 'action' %}
          <strong class="nhsuk-tag nhsuk-tag--yellow">Action needed</strong>
          {% else %}
          <strong class="nhsuk-tag nhsuk-tag--white task-status">
            Not started
          </strong>
          {% endif %}
        </div>
      </li>
    </ul>

    <!-- Submit claim -->
    <h2 class="nhsuk-heading-m">
      {% if 'car' in claimingFor %}4{% else %}3{% endif %}. Submit claim
    </h2>
    <ul class="nhsuk-task-list section-item">
      <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
        <div class="nhsuk-task-list__name-and-hint">
          {% if data['overseas-details'] === 'completed' %}
          <a class="nhsuk-task-list__link" href="TDAE-placement-cost-summary">
            Submit your claim
          </a>
          {% else %}
          Submit your claim
          {% endif %}
        </div>

        <div class="nhsuk-task-list__status task-status">
          {% if data['submit-claim'] === 'completed' %}
          Completed
          {% elif data['overseas-details'] === 'completed' %}
          <strong class="nhsuk-tag nhsuk-tag--white task-status">
            Not started
          </strong>
          {% else %}
          Cannot start yet
          {% endif %}
        </div>
      </li>
    </ul>

    <p>
      <a href="TDAE-returning-student/academic-year-details">
        {{ 'Cancel' if data['cancelled'] == 'true' else 'Save and come back later' }}
      </a>
    </p>

    {% if data['cancelled'] != 'true' %}
    <h2 class="nhsuk-heading-m">Cancel claim</h2>
    <p>
      If you no longer want to submit this claim, you can
      <a href="../TDAE-signpost/TDAE-cancel-check">cancel this claim</a>.
    </p>
    {% endif %}

  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script>
  // To get the counter to work, you need two things:
  // 1. This class on your section <li class="section-item">
  // 2. This class on your status tag <strong class="task-status">

  // Get all elements with the class 'container'
  const containers = document.querySelectorAll('.section-item');

  // Create an object to store container IDs and their values
  const containerValues = {};

  // Initialize all container IDs with a value of 1
  containers.forEach((container, index) => {
    containerValues[index] = 1;
  });

  // Function to search within each 'container' element
  function searchWithinContainer(container, index) {
    // Find elements with class 'searchable' within the 'container'
    const searchables = container.querySelectorAll('.task-status');

    // Log the content of each 'searchable' element within the 'container'
    searchables.forEach((searchable) => {
      console.log(searchable.textContent);
      if (searchable.textContent !== 'Completed') {
        console.log('Not all tasks in this container are completed');
        // Set the value of the container ID to 0 if a task is not completed
        containerValues[index] = 0;
      }
    });
  }

  // Search each container
  containers.forEach((container, index) => {
    searchWithinContainer(container, index);
  });

  var completedSectionCount = document.getElementById('completedCount');
  var totalSectionCount = document.getElementById('sectionLength');

  // Calculate the completed section count
  var completedSections = Object.values(containerValues).reduce(
    (total, value) => total + value,
    0
  );
  console.log('completed sections: ' + completedSections)

  completedSectionCount.innerHTML = completedSections;
  totalSectionCount.innerHTML = containers.length;
</script>
<script>
  // Get all elements with the class 'currentDate'
  var currentDateElements = document.querySelectorAll(".currentDate");

  // Get the current date
  var currentDate = new Date();

  // Format the date as desired
  var options = { day: 'numeric', month: 'long', year: 'numeric' };
  var formattedDate = currentDate.toLocaleDateString(undefined, options);

  // Set the formatted date as the content of each element
  currentDateElements.forEach(function (element) {
    element.textContent = formattedDate;
  });
</script>
{% endblock %}