{% extends 'layout-custom-header.html' %}

{% block pageTitle %}
Student details
{% endblock %}

{% block beforeContent %}

<br>
<br>

  <a class="nhsuk-back-link" href="/lsf-web/v7/TDAE-AP">
  Back
</a>
<br>
<br>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds"




<br>
<span class="nhsuk-caption-l" id="studentRef">SSRN0010001 - Emmit Marr</span>
<h1 class="nhsuk-heading-l">
	This payment is on hold
</h1>

<table class="nhsuk-table">

  
  <tbody class="nhsuk-table__body">
	 <tr class="nhsuk-table__row">
      <th scope="row" class="nhsuk-table__header">
        Claim dates
      </th>
      <td class="nhsuk-table__cell">
09 January 2026 to 10 January 2026
      </td>
    </tr>
    <tr class="nhsuk-table__row">
      <th scope="row" class="nhsuk-table__header">
      TDAE claim amount
      </th>
      <td class="nhsuk-table__cell">
£50
      </td>
    </tr>
    <tr class="nhsuk-table__row">
      <th scope="row" class="nhsuk-table__header">
     Deduction from advance payment
      </th>
      <td class="nhsuk-table__cell">
     £200
      </td>
    </tr>
    <tr class="nhsuk-table__row">
      <th scope="row" class="nhsuk-table__header">
Remaining advance payment balance
      </th>
      <td class="nhsuk-table__cell">
        £0
      </td>
    </tr>
  </tbody>
</table>
<p>This deduction is currently on hold and is not reducing the student's advance payment.</p>
<p>If you put this deduction on hold, £200 will be added back to the remaining balance.</p>

 <div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" aria-describedby="example-hints-hint">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
      <h1 class="nhsuk-fieldset__heading">
        Do want want to reset this deduction?
      </h1>
    </legend>

    <div class="nhsuk-radios" data-module="nhsuk-radios">
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-hints" name="exampleHints" type="radio" value="email">
        <label class="nhsuk-label nhsuk-radios__label" for="example-hints">
        Yes, take this payment off hold
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-hints-2" name="exampleHints" type="radio" value="phone">
        <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
         No, leave it on hold
        </label>
      </div>
   

    </div>
	
  </fieldset>
</div>
  <a class="nhsuk-button" href="/lsf-web/v7/TDAE-AP">
  Save and continue
  </a>

	  <style>
	

.nhsuk-heading-m, h3 {
    display: block;
    margin-top: 0;
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 1.3181818182;
}
</style>
</div>
</div>
{% endblock %}