{% extends 'layout-custom-header.html' %}

{% block pageTitle %}
Student details
{% endblock %}

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="current-search-student">
        Student search
      </a>
    </li>
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="student-details">
        Student details
      </a>
    </li>
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="TDAE-AP">
        Advance payments
      </a>
    </li>
  </ol>
  <a class="nhsuk-back-link" href="#">
    <span class="nhsuk-u-visually-hidden">Back to </span>Hospitals
  </a>
  </nav>
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

  <span class="nhsuk-caption-l" id="studentRef">SSRN0010001 - Emmit Marr</span>
  <h1 class="nhsuk-heading-l">
  	TDAE claim is not currently on hold
  </h1>

  <dl class="nhsuk-summary-list">
		<div class="nhsuk-summary-list__row">
			<dt class="nhsuk-summary-list__key">Claim dates</dt>
			<dd class="nhsuk-summary-list__value">
				<div id="claimDates">15 April 2026 to 17 April 2026</div>
			</dd>
		</div>
		<div class="nhsuk-summary-list__row">
			<dt class="nhsuk-summary-list__key">TDAE claim amount</dt>
			<dd class="nhsuk-summary-list__value">
				<div id="claimAmount">£39.99</div>
			</dd>
		</div>
		<div class="nhsuk-summary-list__row">
			<dt class="nhsuk-summary-list__key">Deduction from advance payment</dt>
			<dd class="nhsuk-summary-list__value">
				<div id="reductionAmount">£39.99</div>
			</dd>
		</div>
		<div class="nhsuk-summary-list__row">
			<dt class="nhsuk-summary-list__key">Held</dt>
			<dd class="nhsuk-summary-list__value">
				<div id="held">No</div>
			</dd>
		</div>
		<div class="nhsuk-summary-list__row">
			<dt class="nhsuk-summary-list__key">Advance payment remaining</dt>
			<dd class="nhsuk-summary-list__value">
				<div id="reductionAmount">£39.99</div>
			</dd>
		</div>
	</dl>



	<div>
		<p>This TDAE claim is reducing the student’s remaining advance payment. </p>
    <p>Putting this claim on hold will increase the student’s remaining advance payment by £39.99.</p>
	</div>

 <div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" aria-describedby="example-hints-hint">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
      <h1 class="nhsuk-fieldset__heading">
        Do you want to put this deduction on hold?
      </h1>
    </legend>

    <div class="nhsuk-radios" data-module="nhsuk-radios">
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-hints" name="exampleHints" type="radio" value="email">
        <label class="nhsuk-label nhsuk-radios__label" for="example-hints">
        Yes, put it on hold
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-hints-2" name="exampleHints" type="radio" value="phone">
        <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
         No, do not put it on hold
        </label>
      </div>


    </div>

  </fieldset>
</div>
  <a class="nhsuk-button" href="/lsf-web/v7/TDAE-AP">
  Submit
  </a>
  <p><a href="TDAE-AP">Cancel</a><p>
	  <style>


.nhsuk-heading-m, h3 {
    display: block;
    margin-top: 0;
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 1.3181818182;
}
</style>
</div>
</div>
{% endblock %}
