{% extends 'layout-custom-header.html' %}

{% block pageTitle %}
Student details
{% endblock %}

{% block beforeContent %}

<br>
<br>
<a class="nhsuk-back-link" href="/lsf-web/v7/student-details-copy">
  Back
</a>
<br>
<br>
<span class="nhsuk-caption-l" id="studentRef">SSRN0010001 - Emmit Marr</span>
<h1 class="nhsuk-heading-l">
	View TDAE advance payments
</h1>

<p>Remaining balance:
	<span>£200</span>
</p>

<table class="nhsuk-table">

  <thead class="nhsuk-table__head">
    <tr class="nhsuk-table__row">
		  <th scope="col" class="nhsuk-table__header">
   Advance payment date
      </th>
      <th scope="col" class="nhsuk-table__header">
   Advance amount 
      </th>
      <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">
      Remaining balance
      </th>
      <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">
       Status
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr class="nhsuk-table__row">
      <th scope="row" class="nhsuk-table__header">
        15 May 2024 
      </th>
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
        £200
      </td>
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
        £32.05
      </td>
	  <br>
	  <br>
	   <td class="nhsuk-table__cell">
        <strong class="nhsuk-tag nhsuk-tag--yellow">
          Pending
        </strong>
      </td>
    </tr>
   
  </tbody>
</table>


<details class="nhsuk-details nhsuk-expander">
	<summary class="nhsuk-details__summary">
		<span class="nhsuk-details__summary-text" role="button">View payment details for Tuesday 06 January 2026 </span>
	</summary>
	<div class="nhsuk-details__text">
		<table role="table" class="nhsuk-table-responsive">
			<caption class="nhsuk-table__caption">Claims reducing the advance balance</caption>
			
			
				<div class="nhsuk-table__body">Amount deducted shows how much was taken off the advance payment for each claim</div>
				<tr role="row">

					<th role="columnheader" scope="col">Claim date</th>
					<th role="columnheader" class="nhsuk-table__header--numeric" scope="col">TDAE claim amount</th>
					<th role="columnheader" class="nhsuk-table__header--numeric" scope="col">Deduction from advance payment</th>
					<th role="columnheader" scope="col">On hold</th>
				
					<th role="columnheader" scope="col">Reset</th>
				</tr>
			</thead>
			<tbody class="nhsuk-table__body">
				<tr role="row" class="nhsuk-table__row">
					<td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
							aria-hidden="true">Date </span>Tuesday 9 January 2026</td>
					<td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span
							class="nhsuk-table-responsive__heading" aria-hidden="true">Placement cost </span>£8.20
						<div class="ss-details-desktop">
							<div class="ss-details-text" style="display: none;">
								<dl class="nhsuk-summary-list ss-details-summary-list">
									<div class="nhsuk-summary-list__row">
										<dt class="nhsuk-summary-list__key ss-details-summary-list__key">Public
											transport</dt>
										<dd class="nhsuk-summary-list__value ss-details-summary-list__value">£5</dd>
									</div>
									<div class="nhsuk-summary-list__row">
										<dt class="nhsuk-summary-list__key ss-details-summary-list__key">Driving mileage
										</dt>
										<dd class="nhsuk-summary-list__value ss-details-summary-list__value">£3.20</dd>
									</div>
								</dl>
							</div>
						</div>
					</td>
					<td class="ss-details-mobile nhsuk-table__cell nhsuk-table__cell--numeric" style="display: none;">
						<span class="nhsuk-table-responsive__heading" aria-hidden="true">Public transport </span>£5</td>
					<td class="ss-details-mobile nhsuk-table__cell nhsuk-table__cell--numeric" style="display: none;">
						<span class="nhsuk-table-responsive__heading" aria-hidden="true">Driving mileage </span>£3.20
					</td>
					<td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span
							class="nhsuk-table-responsive__heading" aria-hidden="true">University cost </span>£3
						<div class="ss-details-desktop">
							<div class="ss-details-text" style="display: none;">
								<dl class="nhsuk-summary-list ss-details-summary-list">
									<div class="nhsuk-summary-list__row">
										<dt class="nhsuk-summary-list__key ss-details-summary-list__key">Lift cost</dt>
										<dd class="nhsuk-summary-list__value ss-details-summary-list__value">£3</dd>
									</div>
								</dl>
							</div>
						</div>
					</td>
					<td class="ss-details-mobile nhsuk-table__cell nhsuk-table__cell--numeric" style="display: none;">
						<span class="nhsuk-table-responsive__heading" aria-hidden="true">Cycling </span>£3</td>
					<td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span
							class="nhsuk-table-responsive__heading" aria-hidden="true">Held</span>No</td>
					
					<td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span
							class="nhsuk-table-responsive__heading" aria-hidden="true"></span><a href="/lsf-web/v7/reset">Reset</a></td>
					</td>
				</tr>
				<tr role="row" class="nhsuk-table__row">
					<td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
							aria-hidden="true">Date </span>Monday 8 January 2026</td>
					<td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span
							class="nhsuk-table-responsive__heading" aria-hidden="true">Placement cost </span>£8.20
						<div class="ss-details-desktop">
							<div class="ss-details-text" style="display: none;">
								<dl class="nhsuk-summary-list ss-details-summary-list">
									<div class="nhsuk-summary-list__row">
										<dt class="nhsuk-summary-list__key ss-details-summary-list__key">Public
											transport</dt>
										<dd class="nhsuk-summary-list__value ss-details-summary-list__value">£5</dd>
									</div>
									<div class="nhsuk-summary-list__row">
										<dt class="nhsuk-summary-list__key ss-details-summary-list__key">Driving mileage
										</dt>
										<dd class="nhsuk-summary-list__value ss-details-summary-list__value">£3.20</dd>
									</div>
								</dl>
							</div>
						</div>
					</td>
					<td class="ss-details-mobile nhsuk-table__cell nhsuk-table__cell--numeric" style="display: none;">
						<span class="nhsuk-table-responsive__heading" aria-hidden="true">Public transport </span>£5</td>
					<td class="ss-details-mobile nhsuk-table__cell nhsuk-table__cell--numeric" style="display: none;">
						<span class="nhsuk-table-responsive__heading" aria-hidden="true">Driving mileage </span>£3.20
					</td>
					<td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span
							class="nhsuk-table-responsive__heading" aria-hidden="true">University cost </span>£3
						<div class="ss-details-desktop">
							<div class="ss-details-text" style="display: none;">
								<dl class="nhsuk-summary-list ss-details-summary-list">
									<div class="nhsuk-summary-list__row">
										<dt class="nhsuk-summary-list__key ss-details-summary-list__key">Lift cost</dt>
										<dd class="nhsuk-summary-list__value ss-details-summary-list__value">£3</dd>
									</div>
								</dl>
							</div>
						</div>
					</td>
					<td class="ss-details-mobile nhsuk-table__cell nhsuk-table__cell--numeric" style="display: none;">
						<span class="nhsuk-table-responsive__heading" aria-hidden="true">Cycling </span>£3</td>
					<td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span
							class="nhsuk-table-responsive__heading" aria-hidden="true">Held</span>No</td>
					
					<td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span
							class="nhsuk-table-responsive__heading" aria-hidden="true"></span><a href="">Reset</a></td>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</details>

<details class="nhsuk-details nhsuk-expander">
   							<summary class="nhsuk-details__summary">
       							<span class="nhsuk-details__summary-text" role="button">View payment details for Tuesday 06 January 2026</span>        							
      						</summary>
							<div class="nhsuk-details__text">					  							
        						<table role="table" class="nhsuk-table-responsive">
          							<caption class="nhsuk-table__caption">Claims reduducing this advance payment</caption>
									<div class="nhsuk-table__body">Amount deducted shows how much was taken off the advance payment for each claim</div>
          							<thead role="rowgroup" class="nhsuk-table__head">
            						<tr role="row">
            	  						<th role="columnheader" scope="col">Claim dates </th>            	  					
        	      						<th role="columnheader" class="nhsuk-table__header--numeric" scope="col">TDAE claim amount</th>
										<th role="columnheader" class="nhsuk-table__header--numeric" scope="col">Reduction amount</th>
    	          						<th role="columnheader" scope="col">Held</th>
    	          						<th role="columnheader" scope="col">Activity number</th>
		            				</tr>
        			  				</thead>
									<tbody class="nhsuk-table__body">
										<tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Date </span>Monday 8 September 2024</td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Placement cost </span>£8.20
                <div class="ss-details-desktop">
                  <div class="ss-details-text" style="display: none;">
                    <dl class="nhsuk-summary-list ss-details-summary-list">
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key ss-details-summary-list__key">Public transport</dt>
                        <dd class="nhsuk-summary-list__value ss-details-summary-list__value">£5</dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key ss-details-summary-list__key">Driving mileage</dt>
                        <dd class="nhsuk-summary-list__value ss-details-summary-list__value">£3.20</dd>
                      </div>
                    </dl>
                  </div>
                </div>
              </td>
              <td class="ss-details-mobile nhsuk-table__cell nhsuk-table__cell--numeric" style="display: none;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Public transport </span>£5</td>
              <td class="ss-details-mobile nhsuk-table__cell nhsuk-table__cell--numeric" style="display: none;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Driving mileage </span>£3.20</td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span class="nhsuk-table-responsive__heading" aria-hidden="true">University cost </span>£3
                <div class="ss-details-desktop">
                  <div class="ss-details-text" style="display: none;">
                    <dl class="nhsuk-summary-list ss-details-summary-list">
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key ss-details-summary-list__key">Lift cost</dt>
                        <dd class="nhsuk-summary-list__value ss-details-summary-list__value">£3</dd>
                      </div>
                    </dl>
                  </div>
                </div>
              </td>
              <td class="ss-details-mobile nhsuk-table__cell nhsuk-table__cell--numeric" style="display: none;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Cycling </span>£3</td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span class="nhsuk-table-responsive__heading" aria-hidden="true">held</span>No</td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                <nobr><span class="nhsuk-table-responsive__heading" aria-hidden="true">Actions</span>6767</nobr>
              </td>
            </tr>
			<tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Date </span>Monday 8 September 2024</td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Placement cost </span>£8.20
                <div class="ss-details-desktop">
                  <div class="ss-details-text" style="display: none;">
                    <dl class="nhsuk-summary-list ss-details-summary-list">
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key ss-details-summary-list__key">Public transport</dt>
                        <dd class="nhsuk-summary-list__value ss-details-summary-list__value">£5</dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key ss-details-summary-list__key">Driving mileage</dt>
                        <dd class="nhsuk-summary-list__value ss-details-summary-list__value">£3.20</dd>
                      </div>
                    </dl>
                  </div>
                </div>
              </td>
              <td class="ss-details-mobile nhsuk-table__cell nhsuk-table__cell--numeric" style="display: none;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Public transport </span>£5</td>
              <td class="ss-details-mobile nhsuk-table__cell nhsuk-table__cell--numeric" style="display: none;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Driving mileage </span>£3.20</td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span class="nhsuk-table-responsive__heading" aria-hidden="true">University cost </span>£3
                <div class="ss-details-desktop">
                  <div class="ss-details-text" style="display: none;">
                    <dl class="nhsuk-summary-list ss-details-summary-list">
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key ss-details-summary-list__key">Lift cost</dt>
                        <dd class="nhsuk-summary-list__value ss-details-summary-list__value">£3</dd>
                      </div>
                    </dl>
                  </div>
                </div>
              </td>
              <td class="ss-details-mobile nhsuk-table__cell nhsuk-table__cell--numeric" style="display: none;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Cycling </span>£3</td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span class="nhsuk-table-responsive__heading" aria-hidden="true">held</span>No</td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                <nobr><span class="nhsuk-table-responsive__heading" aria-hidden="true">Actions </span>2345</nobr>
              </td>
            </tr>					
									</tbody>
								</table>	
							</div>
						</details>	
</div>
</div>



{% endblock %}