{% extends 'layout-custom-header.html' %}

{% block pageTitle %}
Student details
{% endblock %}

{% block beforeContent %}

<br>
<br>
<a class="nhsuk-back-link" href="/lsf-web/v7/student-details-copy">
  Back
</a>
<br>
<h1 class="nhsuk-heading-l">
	Advance payments overview
</h1>
<div class="nhsuk-inset-text">
<p>Total outstanding balance:
	<span>£200</span>
</p>
</div>


<details class="nhsuk-details nhsuk-expander">
	<summary class="nhsuk-details__summary">
		<span class="nhsuk-details__summary-text" role="button">Tuesday 06 January 2026 Advance amount: £200 Outstanding
			balance: £0</span>
	</summary>
	<div class="nhsuk-details__text">
		<table role="table" class="nhsuk-table-responsive">
			<caption class="nhsuk-table__caption">TDAE claims reducing the outstanding balance</caption>
			<thead role="rowgroup" class="nhsuk-table__head">
				<tr role="row">
					<th role="columnheader" scope="col">Claim dates </th>
					<th role="columnheader" class="nhsuk-table__header--numeric" scope="col">TDAE claim amount</th>
					<th role="columnheader" class="nhsuk-table__header--numeric" scope="col">Reduction amount</th>
					<th role="columnheader" scope="col">Held</th>
					<th role="columnheader" scope="col">Activity number</th>
				</tr>
			</thead>
			<tbody class="nhsuk-table__body">
				<tr role="row" class="nhsuk-table__row">
					<td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
							aria-hidden="true">Date </span>Tuesday 9 January 2026</td>
					<td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span
							class="nhsuk-table-responsive__heading" aria-hidden="true">Placement cost </span>£8.20
						<div class="ss-details-desktop">
							<div class="ss-details-text" style="display: none;">
								<dl class="nhsuk-summary-list ss-details-summary-list">
									<div class="nhsuk-summary-list__row">
										<dt class="nhsuk-summary-list__key ss-details-summary-list__key">Public
											transport</dt>
										<dd class="nhsuk-summary-list__value ss-details-summary-list__value">£5</dd>
									</div>
									<div class="nhsuk-summary-list__row">
										<dt class="nhsuk-summary-list__key ss-details-summary-list__key">Driving mileage
										</dt>
										<dd class="nhsuk-summary-list__value ss-details-summary-list__value">£3.20</dd>
									</div>
								</dl>
							</div>
						</div>
					</td>
					<td class="ss-details-mobile nhsuk-table__cell nhsuk-table__cell--numeric" style="display: none;">
						<span class="nhsuk-table-responsive__heading" aria-hidden="true">Public transport </span>£5</td>
					<td class="ss-details-mobile nhsuk-table__cell nhsuk-table__cell--numeric" style="display: none;">
						<span class="nhsuk-table-responsive__heading" aria-hidden="true">Driving mileage </span>£3.20
					</td>
					<td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span
							class="nhsuk-table-responsive__heading" aria-hidden="true">University cost </span>£3
						<div class="ss-details-desktop">
							<div class="ss-details-text" style="display: none;">
								<dl class="nhsuk-summary-list ss-details-summary-list">
									<div class="nhsuk-summary-list__row">
										<dt class="nhsuk-summary-list__key ss-details-summary-list__key">Lift cost</dt>
										<dd class="nhsuk-summary-list__value ss-details-summary-list__value">£3</dd>
									</div>
								</dl>
							</div>
						</div>
					</td>
					<td class="ss-details-mobile nhsuk-table__cell nhsuk-table__cell--numeric" style="display: none;">
						<span class="nhsuk-table-responsive__heading" aria-hidden="true">Cycling </span>£3</td>
					<td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span
							class="nhsuk-table-responsive__heading" aria-hidden="true">Held</span>No</td>
					<td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span
							class="nhsuk-table-responsive__heading" aria-hidden="true">Held</span>7896</td>
					</td>
				</tr>
				<tr role="row" class="nhsuk-table__row">
					<td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
							aria-hidden="true">Date </span>Monday 8 January 2026</td>
					<td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span
							class="nhsuk-table-responsive__heading" aria-hidden="true">Placement cost </span>£8.20
						<div class="ss-details-desktop">
							<div class="ss-details-text" style="display: none;">
								<dl class="nhsuk-summary-list ss-details-summary-list">
									<div class="nhsuk-summary-list__row">
										<dt class="nhsuk-summary-list__key ss-details-summary-list__key">Public
											transport</dt>
										<dd class="nhsuk-summary-list__value ss-details-summary-list__value">£5</dd>
									</div>
									<div class="nhsuk-summary-list__row">
										<dt class="nhsuk-summary-list__key ss-details-summary-list__key">Driving mileage
										</dt>
										<dd class="nhsuk-summary-list__value ss-details-summary-list__value">£3.20</dd>
									</div>
								</dl>
							</div>
						</div>
					</td>
					<td class="ss-details-mobile nhsuk-table__cell nhsuk-table__cell--numeric" style="display: none;">
						<span class="nhsuk-table-responsive__heading" aria-hidden="true">Public transport </span>£5</td>
					<td class="ss-details-mobile nhsuk-table__cell nhsuk-table__cell--numeric" style="display: none;">
						<span class="nhsuk-table-responsive__heading" aria-hidden="true">Driving mileage </span>£3.20
					</td>
					<td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span
							class="nhsuk-table-responsive__heading" aria-hidden="true">University cost </span>£3
						<div class="ss-details-desktop">
							<div class="ss-details-text" style="display: none;">
								<dl class="nhsuk-summary-list ss-details-summary-list">
									<div class="nhsuk-summary-list__row">
										<dt class="nhsuk-summary-list__key ss-details-summary-list__key">Lift cost</dt>
										<dd class="nhsuk-summary-list__value ss-details-summary-list__value">£3</dd>
									</div>
								</dl>
							</div>
						</div>
					</td>
					<td class="ss-details-mobile nhsuk-table__cell nhsuk-table__cell--numeric" style="display: none;">
						<span class="nhsuk-table-responsive__heading" aria-hidden="true">Cycling </span>£3</td>
					<td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span
							class="nhsuk-table-responsive__heading" aria-hidden="true">Held</span>No</td>
					<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
						<nobr><span class="nhsuk-table-responsive__heading" aria-hidden="true">Actions </span><a
								href="#" class="toggle-details" onclick="toggleDetails(this); return false;">View
								details</a></nobr>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</details>
<details class="nhsuk-details nhsuk-expander">
   							<summary class="nhsuk-details__summary">
       							<span class="nhsuk-details__summary-text" role="button">Monday 06 July 2026 Advance amount: £200 Outstanding balance: £0</span>        							
      						</summary>
							<div class="nhsuk-details__text">					  							
        						<table role="table" class="nhsuk-table-responsive">
          							<caption class="nhsuk-table__caption">TDAE claims reducing the outstanding balance</caption>
          							<thead role="rowgroup" class="nhsuk-table__head">
            						<tr role="row">
            	  						<th role="columnheader" scope="col">Claim dates </th>            	  					
        	      						<th role="columnheader" class="nhsuk-table__header--numeric" scope="col">TDAE claim amount</th>
										<th role="columnheader" class="nhsuk-table__header--numeric" scope="col">Reduction amount</th>
    	          						<th role="columnheader" scope="col">Held</th>
    	          						<th role="columnheader" scope="col">Action</th>
		            				</tr>
        			  				</thead>
									<tbody class="nhsuk-table__body">
										<tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Date </span>Monday 8 September 2024</td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Placement cost </span>£8.20
                <div class="ss-details-desktop">
                  <div class="ss-details-text" style="display: none;">
                    <dl class="nhsuk-summary-list ss-details-summary-list">
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key ss-details-summary-list__key">Public transport</dt>
                        <dd class="nhsuk-summary-list__value ss-details-summary-list__value">£5</dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key ss-details-summary-list__key">Driving mileage</dt>
                        <dd class="nhsuk-summary-list__value ss-details-summary-list__value">£3.20</dd>
                      </div>
                    </dl>
                  </div>
                </div>
              </td>
              <td class="ss-details-mobile nhsuk-table__cell nhsuk-table__cell--numeric" style="display: none;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Public transport </span>£5</td>
              <td class="ss-details-mobile nhsuk-table__cell nhsuk-table__cell--numeric" style="display: none;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Driving mileage </span>£3.20</td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span class="nhsuk-table-responsive__heading" aria-hidden="true">University cost </span>£3
                <div class="ss-details-desktop">
                  <div class="ss-details-text" style="display: none;">
                    <dl class="nhsuk-summary-list ss-details-summary-list">
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key ss-details-summary-list__key">Lift cost</dt>
                        <dd class="nhsuk-summary-list__value ss-details-summary-list__value">£3</dd>
                      </div>
                    </dl>
                  </div>
                </div>
              </td>
              <td class="ss-details-mobile nhsuk-table__cell nhsuk-table__cell--numeric" style="display: none;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Cycling </span>£3</td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span class="nhsuk-table-responsive__heading" aria-hidden="true">held</span>No</td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                <nobr><span class="nhsuk-table-responsive__heading" aria-hidden="true">Actions </span><a href="#" class="toggle-details" onclick="toggleDetails(this); return false;">View details</a></nobr>
              </td>
            </tr>
			<tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Date </span>Monday 8 September 2024</td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Placement cost </span>£8.20
                <div class="ss-details-desktop">
                  <div class="ss-details-text" style="display: none;">
                    <dl class="nhsuk-summary-list ss-details-summary-list">
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key ss-details-summary-list__key">Public transport</dt>
                        <dd class="nhsuk-summary-list__value ss-details-summary-list__value">£5</dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key ss-details-summary-list__key">Driving mileage</dt>
                        <dd class="nhsuk-summary-list__value ss-details-summary-list__value">£3.20</dd>
                      </div>
                    </dl>
                  </div>
                </div>
              </td>
              <td class="ss-details-mobile nhsuk-table__cell nhsuk-table__cell--numeric" style="display: none;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Public transport </span>£5</td>
              <td class="ss-details-mobile nhsuk-table__cell nhsuk-table__cell--numeric" style="display: none;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Driving mileage </span>£3.20</td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span class="nhsuk-table-responsive__heading" aria-hidden="true">University cost </span>£3
                <div class="ss-details-desktop">
                  <div class="ss-details-text" style="display: none;">
                    <dl class="nhsuk-summary-list ss-details-summary-list">
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key ss-details-summary-list__key">Lift cost</dt>
                        <dd class="nhsuk-summary-list__value ss-details-summary-list__value">£3</dd>
                      </div>
                    </dl>
                  </div>
                </div>
              </td>
              <td class="ss-details-mobile nhsuk-table__cell nhsuk-table__cell--numeric" style="display: none;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Cycling </span>£3</td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span class="nhsuk-table-responsive__heading" aria-hidden="true">held</span>No</td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                <nobr><span class="nhsuk-table-responsive__heading" aria-hidden="true">Actions </span><a href="#" class="toggle-details" onclick="toggleDetails(this); return false;">View details</a></nobr>
              </td>
            </tr>					
									</tbody>
								</table>	
							</div>
						</details>	
</div>
</div>



{% endblock %}