{% extends 'layout-public.html' %}

{% block pageTitle %}
Academic year September 2023
{% endblock %}
{% block beforeContent %}
  {{ backLink({
      "href": "javascript:history.go(-1)",
      "text": "Go to dashboard"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-heading-l">Request advance payments for travel and accommodation costs</h1>
  </div>

</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {% if data['ap'] == 'requested' %}
      <!--<p>your current advance payment balance is £400</p>-->
      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>Your current advance payment balance is £200.</p>
      </div>
      <!--<h4 class="nhsuk-heading-s">Advance payments requested</h4>-->
      <table class="nhsuk-table">
        <caption class="nhsuk-table__caption">
          Advance payments requested
        </caption>
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th scope="col" class="nhsuk-table__header">
              Advance payment claims
            </th>
              <th scope="col" class="nhsuk-table__header">
              Advance amount
            </th>
            <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">
              Status
            </th>
            <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">
              Remaining balance
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">
              1 October 2026
            </th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
              £200
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
              <strong class="nhsuk-tag nhsuk-tag--green">
          Approved
        </strong>
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
              £200
            </td>
          </tr>
        </tbody>
      </table>
      <details class="nhsuk-details nhsuk-expander">
	<summary class="nhsuk-details__summary">
		<span class="nhsuk-details__summary-text" role="button">See claims reducing this advance payment</span>
	</summary>
	<div class="nhsuk-details__text">
		<div class="nhsuk-table__body">Amount deducted shows how much was taken off the advance payment for each claim</div><table role="table" class="nhsuk-table-responsive">
		
			
			
				
				<tbody><tr role="row">

					<th role="columnheader" scope="col">Claim date</th>
					<th role="columnheader" class="nhsuk-table__header--numeric" scope="col">TDAE claim amount</th>
					<th role="columnheader" class="nhsuk-table__header--numeric" scope="col">Deductedfrom advance payment</th>
				
				</tr>
			
			</tbody><tbody class="nhsuk-table__body">
				<tr role="row" class="nhsuk-table__row">
					<td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Date </span>Tuesday 9 January 2026</td>
					<td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Placement cost </span>£8.20
						<div class="ss-details-desktop">
							<div class="ss-details-text" style="display: none;">
								<dl class="nhsuk-summary-list ss-details-summary-list">
									<div class="nhsuk-summary-list__row">
										<dt class="nhsuk-summary-list__key ss-details-summary-list__key">Public
											transport</dt>
										<dd class="nhsuk-summary-list__value ss-details-summary-list__value">£5</dd>
									</div>
									<div class="nhsuk-summary-list__row">
										<dt class="nhsuk-summary-list__key ss-details-summary-list__key">Driving mileage
										</dt>
										<dd class="nhsuk-summary-list__value ss-details-summary-list__value">£3.20</dd>
									</div>
								</dl>
							</div>
						</div>
					</td>
					<td class="ss-details-mobile nhsuk-table__cell nhsuk-table__cell--numeric" style="display: none;">
						<span class="nhsuk-table-responsive__heading" aria-hidden="true">Public transport </span>£5</td>
					<td class="ss-details-mobile nhsuk-table__cell nhsuk-table__cell--numeric" style="display: none;">
						<span class="nhsuk-table-responsive__heading" aria-hidden="true">Driving mileage </span>£3.20
					</td>
					<td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span class="nhsuk-table-responsive__heading" aria-hidden="true">University cost </span>£3
						<div class="ss-details-desktop">
							<div class="ss-details-text" style="display: none;">
								<dl class="nhsuk-summary-list ss-details-summary-list">
									<div class="nhsuk-summary-list__row">
										<dt class="nhsuk-summary-list__key ss-details-summary-list__key">Lift cost</dt>
										<dd class="nhsuk-summary-list__value ss-details-summary-list__value">£3</dd>
									</div>
								</dl>
							</div>
						</div>
					</td>
					<td class="ss-details-mobile nhsuk-table__cell nhsuk-table__cell--numeric" style="display: none;">
						<span class="nhsuk-table-responsive__heading" aria-hidden="true">Cycling </span>£3</td>

					
					
				</tr>
				<tr role="row" class="nhsuk-table__row">
					<td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Date </span>Monday 8 January 2026</td>
					<td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Placement cost </span>£8.20
						<div class="ss-details-desktop">
							<div class="ss-details-text" style="display: none;">
								<dl class="nhsuk-summary-list ss-details-summary-list">
									<div class="nhsuk-summary-list__row">
										<dt class="nhsuk-summary-list__key ss-details-summary-list__key">Public
											transport</dt>
										<dd class="nhsuk-summary-list__value ss-details-summary-list__value">£5</dd>
									</div>
									<div class="nhsuk-summary-list__row">
										<dt class="nhsuk-summary-list__key ss-details-summary-list__key">Driving mileage
										</dt>
										<dd class="nhsuk-summary-list__value ss-details-summary-list__value">£3.20</dd>
									</div>
								</dl>
							</div>
						</div>
					</td>
					<td class="ss-details-mobile nhsuk-table__cell nhsuk-table__cell--numeric" style="display: none;">
						<span class="nhsuk-table-responsive__heading" aria-hidden="true">Public transport </span>£5</td>
					<td class="ss-details-mobile nhsuk-table__cell nhsuk-table__cell--numeric" style="display: none;">
						<span class="nhsuk-table-responsive__heading" aria-hidden="true">Driving mileage </span>£3.20
					</td>
					<td class="nhsuk-table__cell nhsuk-table__cell--numeric"><span class="nhsuk-table-responsive__heading" aria-hidden="true">University cost </span>£3
						<div class="ss-details-desktop">
							<div class="ss-details-text" style="display: none;">
								<dl class="nhsuk-summary-list ss-details-summary-list">
									<div class="nhsuk-summary-list__row">
										<dt class="nhsuk-summary-list__key ss-details-summary-list__key">Lift cost</dt>
										<dd class="nhsuk-summary-list__value ss-details-summary-list__value">£3</dd>
									</div>
								</dl>
							</div>
						</div>
					</td>
					<td class="ss-details-mobile nhsuk-table__cell nhsuk-table__cell--numeric" style="display: none;">
						<span class="nhsuk-table-responsive__heading" aria-hidden="true">Cycling </span>£3</td>

					
				</tr>
			</tbody>
		</table>
	</div>
</details>
    {% elseif data['ap'] == 'top-up' %}
      <!--<p>your current advance payment balance is £400</p>-->
      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>Your current advance payment balance is £32.50.</p>
      </div>
      <p>Because your balance is below £50 you can now request another advance payment.<p>
      <a class="nhsuk-button nhsuk-u-margin-right-5" href="../advanced-payment/start">Request advanced payment</a>
      <!--<h4 class="nhsuk-heading-s">Advance payments requested</h4>-->
      <table class="nhsuk-table">
        <caption class="nhsuk-table__caption">
          Advance payments requested
        </caption>
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th scope="col" class="nhsuk-table__header">
              Advance payment claims
            </th>
            <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">
              Claimed value
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row">
            <th scope="row" class="nhsuk-table__header">
              1 October 2026
            </th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
              £400
            </td>
          </tr>
        </tbody>
      </table>
    {% else %}
    <form action="advance-payment" method="POST">
      <h2 class="nhsuk-heading-s">What is an advance payment?</h2>
        <p class="nhsuk-body">
If you need money in advance to pay for travel and accommodation  (TDAE) costs, you can request an advance payment rather than wait to be reimbursed.</p>
<p class="nhsuk-body">This is not a loan, grant or extra payment. It simply means you receive money before you pay for travel or accommodation, instead of claiming it back afterwards.</p>
        <h2 class="nhsuk-heading-s">How much can you request?</h2>
        <p class="nhsuk-body">The amount you can request depends on your previous TDAE claims:</p>
        <ul>
          <li>£200 if any previous claims were for travel only</li>
          <li>£400 if any previous claims were for accommodation only</li>
          <li>Up to £600 if any previous claims included travel and accommodation</li>
        </ul>
          <p class="nhsuk-body">You can use your advance payment for any eligible travel or accommodation costs.</p>

        <h2 class="nhsuk-heading-s">How does it work?</h2>
        <ol>
          <li>Request an advance payment.</li>
          <li>Receive your payment 10 working days later.</li>
          <li>Pay for your travel or accommodation.</li>
          <li>Submit your TDAE claim with receipts or evidence.</li>
          <li>Your approved claim reduces your advance payment balance.</li>
        </ol>
        <p class="nhsuk-body">You can request another advance payment when your remaining balance is £50 or less.</p>
        <h2 class="nhsuk-heading-s">Example</h2>
        <ul>
          <li>You receive a £200 advance payment.</li>
          <li>You submit a TDAE claim for £100 of eligible travel costs.</li>
          <li>Your remaining balance is £100.</li>
        </ul>
            <h2 class="nhsuk-heading-s">If you do not use all of your advance payment</h2>
            <h3 class="nhsuk-heading-xs">You are responsible for repaying any unused advance payment</h2>
        <p class="nhsuk-body">If you do not use all of your advance payment for eligible costs, you must repay the unused amount.</p>
         <p class="nhsuk-body">Where possible, this will be deducted from your final Term 3 Training Grant payment.</p>
         <p class="nhsuk-body">If this is not possible, you will need to repay the remaining balance.</p>
              <h2 class="nhsuk-heading-s">Example</h2>
              <ul>
                <li>You receive £400</li>
                 <li>You use £250 for eligible costs.</li>
                 <li>The remaining £150 will be taken from your final Term 3 Training Grant payment or paid by you.</li>
              </ul>
                      <h2 class="nhsuk-heading-s">If you leave your course early</h2>
                      <p class="nhsuk-body">If you leave your course and have any unused advance payment, you will need to repay the remaining amount.</p>

<p class="nhsuk-body">We will provide information about how to repay any money owed.</p>
<h2 class="nhsuk-heading-s">Before you request an advance payment</h2>
<p class="nhsuk-body">Make sure you understand that:</p>
<ul><li>it helps you pay costs before claiming through TDAE</li>
<li>You must keep receipts and provide evidence</li>
<li>it can only be used for eligible travel and accommodation costs</li>
<li>unused money will need to be repaid</li>
<li>you can request another payment when your balance is £50 or less</li></ul>


        <button class="nhsuk-button" type="submit">Find out how much you can request</button><br>

    </form>
    {% endif %}
    <p><a href="../dashboard">Return to dashboard</a></p>

  </div>
</div>
{% endblock %}
