{% extends 'layout-public.html' %}

{% block pageTitle %}
Attendance confirmation submitted
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <form action="AP-dashboard?ap=requested" method="POST">

        <!-- If option D
        <form action="../TDAE-returning-student/academic-year-details?ap=requested#tab-four" method="POST">
        -->

            <div class="nhsuk-panel" style="background: #005EB8; margin-top: 0;">
                <div class="nhsuk-panel__content">
                    <h1 class="nhsuk-panel__heading" style="text-align: center; color: white;">
                        Request for advance payment completed
                    </h1>
                    <div class="nhsuk-panel__body" style="text-align: center; color: white;">We have sent you an email confirming your request</div>
                </div>
            </div>

            <h2 class="nhsuk-heading-m">What happens next</h2>
            <p>You have requested £200 as an advance payment for travel and accommodation costs.</p>
            <p>We will send your advance payment into your bank account within 10 working days.</p>
            <p>In the meantime, keep your receipts and evidence of costs for travel and accommodation.</p>
            <p>You will still need to make TDAE claims in the same way so that we can deduct the amount from your advance payment balance.</p>



            <button class="nhsuk-button" type="submit">Go to TDAE advance payment</button>
            <!-- If option E
            <button class="nhsuk-button" type="submit">Return to academic year details</button>
            -->
        </form>

    </div>

</div>
{% endblock %}
