{% extends 'layout-public.html' %}

{% block pageTitle %}
Attendance confirmation submitted
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <form action="AP-dashboard?ap=requested" method="POST">

        <!-- If option D
        <form action="../TDAE-returning-student/academic-year-details?ap=requested#tab-four" method="POST">
        -->

            <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
                <div class="nhsuk-card__content">
                    <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
                        Request for advance payment completed 
                    </h1>
                </div>
            </div>

            <h2 class="nhsuk-heading-m">What happens next?</h2>
            <p>You have requested £200 as an advance payment for travel and accommodation costs.</p>
            <p>You will receive your advance payment within 10 working days.</p>
            <p>Keep your receipts and evidence of costs. You will still need to submit TDAE claims. Any approved costs will reduce your advance payment balance.</p>
            <p>Once your balance reaches £50 or less, you can request another advance payment.</p>
          


            <button class="nhsuk-button" type="submit">Go to TDAE advance payment</button>
            <!-- If option E
            <button class="nhsuk-button" type="submit">Return to academic year details</button>
            -->
        </form>

    </div>

</div>
{% endblock %}
