{% extends 'layout-public.html' %}

{% block pageTitle %}
Declaration
{% endblock %}


{% block beforeContent %}
  {{ backLink({
      "href": "javascript:history.go(-1)",
      "text": "Go back"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <form action="confirmation" method="POST">

        <h1 class="nhsuk-heading-l">Read and agree to the declaration for advance payments </h1>

        <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">
              <span role="text">
                <span class="nhsuk-u-visually-hidden">Important: </span>
                Declaration
              </span>
            </h3>
            <p>I understand that the advance payment I am receiving is in respect of my anticipated travel costs, dual accommodation costs, or both, under the Learning Support Fund (LSF). </p>
            <p>I understand and accept that: </p>
            <ul class="nhsuk-list__bullet">
              <li>the advance payment is based on my expected eligibility and costs</li>
              <li>I must continue to submit eligible travel and/or Dual Accommodation claims in line with Learning Support Fund requirements while receiving this advance payment</li>
              <li>any approved claims I submit will be used to offset the advance payment received</li>
              <li>I must inform NHSBSA Student Services immediately of any changes in my circumstances that may affect my entitlement to this support</li>
              <li>I must inform NHSBSA Student Services immediately if I withdraw, abandon, suspend, defer or interrupt the course permanently or temporarily for any reason, regardless of whether I intend to return</li>
              <li>if any of the advance payment remains unused, it may be deducted from my final year Term 3 Learning Support Fund payment</li>
            </ul>
            <p>I understand that if I withhold information, fail to report changes in my circumstances, or provide false, inaccurate, or misleading information:</p>
            <ul class="nhsuk-list__bullet">
              <li>my financial support may be reduced, withdrawn, or stopped</li>
              <li>I may be required to repay all or part of the advance payment</li>
              <li>future applications for financial support may be affected</li>
              <li>disciplinary action may be taken where appropriate</li>
              <li>I may be liable to criminal prosecution and/or civil proceedings  </li>
            </ul>

          </div>
<p>By ticking this box, I confirm that I have read, understood and agree to the terms of this declaration.</p>


        <div class="nhsuk-checkboxes__item nhsuk-u-margin-bottom-7">
            <input class="nhsuk-checkboxes__input" id="COSA-declaration" name="COSA-declaration" type="checkbox" value="accepted">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="COSA-declaration">
              Accept declaration
            </label>
        </div>

        <button class="nhsuk-button" type="submit">Submit request</button><br>
        <p><a href="../TDAE-returning-student/academic-year-details#tab-four">Cancel</a></p>

        </form>

    </div>

</div>
{% endblock %}
