{% extends 'layout-public.html' %}

{% block pageTitle %}
Declaration
{% endblock %}


{% block beforeContent %}
  {{ backLink({
      "href": "javascript:history.go(-1)",
      "text": "Go back"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <form action="confirmation" method="POST">

        <h1 class="nhsuk-heading-l">Advanced payment declaration</h1>

        <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">
              <span role="text">
                <span class="nhsuk-u-visually-hidden">Important: </span>
                Declaration
              </span>
            </h3>
            <!--<p>I declare that the information I have provided is correct and complete.</p>
            <p>I understand and accept that if I withhold information from NHSBSA Student Services and / or provide false or misleading information, financial support may be refused or withdrawn, and any future applications may be rejected.</p>
            <p>I understand and accept if I withhold information from NHSBSA Student Services and / or provide false or misleading information disciplinary action may be taken against me and I may be liable to criminal prosecution.</p>
            -->
            <p>I understand that the advance payment I am receiving is in respect of my anticipated Travel Costs, Dual Accommodation Costs, or both, under the Learning Support Fund (LSF).</p>
            <p>I understand and accept that:</p>
            <p>The advance payment is based on my expected eligibility and costs.</p>
            <p>I must continue to submit eligible Travel and/or Dual Accommodation claims in line with Learning Support Fund requirements while receiving this advance payment.</p>
         <p>Any approved claims I submit will be used to offset the advance payment received.</p>
         <p>I must inform NHSBSA Student Services immediately of any changes in my circumstances that may affect my entitlement to this support. If I withdraw, abandon, suspend, defer or interrupt the course permanently or temporarily for any reason, regardless of whether I intend to return.</p>
         <p>If any of the advance payment remains unused, it may be deducted from your final year Term 3 Learning Support Fund payment.</p>
        <p>I understand that if I withhold information, fail to report changes in my circumstances, or provide false, inaccurate, or misleading information:</p>
        <p>My financial support may be reduced, withdrawn, or stopped.</p>
        <p>I may be required to repay all or part of the advance payment.</p>
        <p>Future applications for financial support may be affected.</p>
        <p>Disciplinary action may be taken where appropriate.</p>
        <p>I may be liable to criminal prosecution and/or civil proceedings.</p>
        <p>By ticking this box, I confirm that I have read, understood, and agree to the terms of this declaration.</p>
        </div>



        <div class="nhsuk-checkboxes__item nhsuk-u-margin-bottom-7">
            <input class="nhsuk-checkboxes__input" id="COSA-declaration" name="COSA-declaration" type="checkbox" value="accepted">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="COSA-declaration">
              Accept declaration
            </label>
        </div>

        <button class="nhsuk-button" type="submit">Submit request</button><br>
        <p><a href="../TDAE-returning-student/academic-year-details#tab-four">Cancel</a></p>

        </form>

    </div>

</div>
{% endblock %}
