{% extends 'layout-public.html' %}

{% block pageTitle %}
Travel and Dual Accommodation Expenses (TDAE) advance payment
{% endblock %}

{% block beforeContent %}
  {{ backLink({
      "href": "javascript:history.go(-1)",
      "text": "Go back"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

	<div class="nhsuk-grid-column-two-thirds">

		<form action="advance-payment" method="POST">
				<h1 class="nhsuk-heading-l">Travel and Dual Accommodation Expenses (TDAE) advance payment</h1>
				<p class="nhsuk-body">The TDAE advance payment is an upfront lump sum you can use to cover any future placement costs. You can request an upfront payment of up to £600 for travel and accommodation costs.</p>
				<h2 class="nhsuk-heading-s">It’s not extra funding</h2>
				<p class="nhsuk-body">Taking an advance payment simply means you get more money now and less later on. The advantage is that you’ll already have funds in place when extra travel and accommodation costs come along.</p>
				<h2 class="nhsuk-heading-s">You can apply more than once</h2>
				<p class="nhsuk-body">Once the balance of your TDAE advance payment drops below £50, you can apply for another one.</p>
				<h2 class="nhsuk-heading-s">You don't have to make a decision now</h2>
				<p class="nhsuk-body">You can apply for a TDAE advance payment at any point during your course.</p>
				<h2 class="nhsuk-heading-s">Things you need to consider </h2>
				<p class="nhsuk-body">If you’re thinking of requesting a TDAE advance payment for the first time, there are a couple of things you need to be aware of:</p>
				<ul class="nhsuk-list nhsuk-list--bullet">
						<li><b>If you don’t use all of your advance payment</b> – if you haven't used all of your advance payment by your term 3 payment date, the unused balance will be deducted from that final term 3 Training Grant payment.
						<br>For example, if you receive an advance payment of £400, and your travel and dual accommodation costs for this year’s placements only come to £300, £100 will be deducted from your term 3 Training Grant payment.</li>
						<li><b>If you leave your course early</b> – if you leave and you haven't used all of your advance payment, you’ll need to pay the balance back.</li>
					</ul>

				<button class="nhsuk-button" type="submit">Continue</button><br>
				<p><a href="../TDAE-returning-student/academic-year-details#tab-four">Cancel</a></p>

		</form>

	</div>

</div>
{% endblock %}
