{% extends 'layout-public.html' %}

{% block pageTitle %}
  What is the total length of your course
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}
        <br> <br>

        <h1 class="nhsuk-heading-l">
							<span class="nhsuk-caption-l" id="secondary-heading">
								Course details
								<span class="nhsuk-u-visually-hidden"> - </span>
							</span>
							When does the academic year you're applying for start?
						</h1>
        <div class="nhsuk-form-group">
           
<div class="nhsuk-radios">
									
									
										<div class="nhsuk-radios__item">
											<div class="nhsuk-multiple-choice">
												<input type="radio" id="course[0]" value="350" class="nhsuk-radios__input" name="course"> <label class="nhsuk-label nhsuk-radios__label" for="course[0]">2025</label>
											</div>
										</div>



        </div>
        </div>

        <a class="nhsuk-button" href="attending-university">Continue</a><br>
       
<p class="nhsuk-body">If you cannot find your academic year, you can <a href="https://www.nhsbsa.nhs.uk/nhs-learning-support-fund-lsf/contact-us" target="_blank" rel="noopener" id="contactUsLink">contact us (opens in a new tab)</a>.</p>

    </div>

  </div>
{% endblock %}
