{% extends 'layout-public.html' %}

{% block pageTitle %}
Is your course full or part time?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
        }) }}

        <!-- <form action="v10/final-year" method="POST"> -->

        <form action="v10/full-part-time" method="post">

            <fieldset class="nhsuk-fieldset">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                    <h1 class="nhsuk-heading-l"><span class="nhsuk-caption-l nhsuk-caption--bottom">Course
                            details</span>Are you studying full-time or part-time?</h1>
                </legend>

                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="parttime" name="uniparttimefull" type="radio"
                        value="parttime">
                    <label class="nhsuk-label nhsuk-radios__label" for="parttime">
                        Part time
                    </label>
                </div>

                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="fulltime" name="uniparttimefull" type="radio"
                        value="fulltime">
                    <label class="nhsuk-label nhsuk-radios__label" for="fulltime">
                        Full time
                    </label>
                </div>
         

    </div>
</div>
<br>
<button class="nhsuk-button" type="submit">
    Continue
</button>
</form>
   </fieldset>
<!-- </form> -->


</div>

</div>
{% endblock %}