{% extends 'layout-public.html' %}

{% block pageTitle %}
Task list
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
        {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
        }) }}

        {% if data['submit-claim'] != 'completed' %}
        <h1 class="nhsuk-heading-l">Travel and Dual Accommodation Expenses task list</h1>
        {% else %}
        <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-9">Travel and Dual Accommodation Expenses task list</h1>
        {% endif %}

        {% if data['submit-claim'] != 'completed' %}
        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Claim tasks incomplete</h2>
        <p class="nhsuk-body nhsuk-u-margin-bottom-7">You have completed 0 of 4 sections.</p>
        {% endif %}


        <h2 class="nhsuk-heading-m">1. Claim overview</h2>
        <ul class="nhsuk-task-list">
            <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
                <div class="nhsuk-task-list__name-and-hint">
                    <a class="nhsuk-link nhsuk-task-list__link" href="TDAE-eligibility-cya"
                        aria-describedby="eligibility-check-status">
                        Check online eligibility
                    </a>
                </div>
                <div class="nhsuk-task-list__status nhsuk-task-list__status--completed" id="eligibility-check-status">
                    Completed
                </div>
            </li>

            <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
                <div class="nhsuk-task-list__name-and-hint">
                    <a class="nhsuk-link nhsuk-task-list__link" href="TDAE-placement-address"
                        aria-describedby="placement-address-status">
                        Placement address
                    </a>
                </div>

                {% if data['placement-address'] === 'completed' %}
                <div class="nhsuk-task-list__status nhsuk-task-list__status--completed" id="placement-address-status">
                    Completed
                </div>
                {% elif data['placement-address'] === 'in-progress' %}
                <div class="nhsuk-task-list__status" id="placement-address-status">
                    <strong class="nhsuk-tag nhsuk-tag--blue">In progress</strong>
                </div>
                {% else %}
                <div class="nhsuk-task-list__status" id="placement-address-status">
                    <strong class="nhsuk-tag nhsuk-tag--white">Not started</strong>
                </div>
                {% endif %}
            </li>
        </ul>

        {% if data['claiming-travel'] === 'yes' %}
        <h2 class="nhsuk-heading-m">2. Travel costs</h2>
        <ul class="nhsuk-task-list">
            <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
                <div class="nhsuk-task-list__name-and-hint">
                    <a class="nhsuk-link nhsuk-task-list__link" href="{% if data['university-details'] === 'completed' %}
                 TDAE-normal-summary-cya
               {% else %}
                 TDAE-normal-transport
               {% endif %}" aria-describedby="university-travel-status">
                        University travel details
                    </a>
                </div>

                {% if data['university-details'] === 'completed' %}
                <div class="nhsuk-task-list__status nhsuk-task-list__status--completed" id="university-travel-status">
                    Completed
                </div>
                {% elif data['university-details'] === 'in-progress' %}
                <div class="nhsuk-task-list__status" id="university-travel-status">
                    <strong class="nhsuk-tag nhsuk-tag--blue">In progress</strong>
                </div>
                {% else %}
                <div class="nhsuk-task-list__status" id="university-travel-status">
                    <strong class="nhsuk-tag nhsuk-tag--white">Not started</strong>
                </div>
                {% endif %}
            </li>

            <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
                <div class="nhsuk-task-list__name-and-hint">
                    <a class="nhsuk-link nhsuk-task-list__link" href="{% if data['travel-details'] === 'completed' %}
                 TDAE-placement-journey-cya
               {% else %}
                 TDAE-placement-return-mileage
               {% endif %}" aria-describedby="placement-travel-status">
                        Placement travel details
                    </a>
                </div>

                {% if data['travel-details'] === 'completed' %}
                <div class="nhsuk-task-list__status nhsuk-task-list__status--completed" id="placement-travel-status">
                    Completed
                </div>
                {% elif data['travel-details'] === 'in-progress' %}
                <div class="nhsuk-task-list__status" id="placement-travel-status">
                    <strong class="nhsuk-tag nhsuk-tag--blue">In progress</strong>
                </div>
                {% else %}
                <div class="nhsuk-task-list__status" id="placement-travel-status">
                    <strong class="nhsuk-tag nhsuk-tag--white">Not started</strong>
                </div>
                {% endif %}
            </li>

            <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
                <div class="nhsuk-task-list__name-and-hint">
                    <a class="nhsuk-link nhsuk-task-list__link" href="{% if data['travel-details'] === 'completed' %}
                 TDAE-placement-journey-cya
               {% else %}
                 TDAE-placement-return-mileage
               {% endif %}" aria-describedby="placement-evidence-status">
                        Placement travel evidence
                    </a>
                </div>

                {% if data['travel-details'] === 'completed' %}
                <div class="nhsuk-task-list__status nhsuk-task-list__status--completed" id="placement-evidence-status">
                    Completed
                </div>
                {% elif data['travel-details'] === 'in-progress' %}
                <div class="nhsuk-task-list__status" id="placement-evidence-status">
                    <strong class="nhsuk-tag nhsuk-tag--blue">In progress</strong>
                </div>
                {% else %}
                <div class="nhsuk-task-list__status" id="placement-evidence-status">
                    <strong class="nhsuk-tag nhsuk-tag--white">Not started</strong>
                </div>
                {% endif %}
            </li>
        </ul>
        {% endif %}

        {% if data['claiming-accommodation'] === 'yes' %}
        <h2 class="nhsuk-heading-m">3. Accommodation costs</h2>
        <ul class="nhsuk-task-list">
            <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
                <div class="nhsuk-task-list__name-and-hint">
                    <a class="nhsuk-link nhsuk-task-list__link" href="#" aria-describedby="accommodation-status">
                        Placement accommodation details and evidence
                    </a>
                </div>

                {% if data['accommodation-details'] === 'completed' %}
                <div class="nhsuk-task-list__status nhsuk-task-list__status--completed" id="accommodation-status">
                    Completed
                </div>
                {% elif data['accommodation-details'] === 'in-progress' %}
                <div class="nhsuk-task-list__status" id="accommodation-status">
                    <strong class="nhsuk-tag nhsuk-tag--blue">In progress</strong>
                </div>
                {% else %}
                <div class="nhsuk-task-list__status" id="accommodation-status">
                    <strong class="nhsuk-tag nhsuk-tag--white">Not started</strong>
                </div>
                {% endif %}
            </li>
        </ul>
        {% endif %}

        <h2 class="nhsuk-heading-m">4. Submit claim</h2>
        <ul class="nhsuk-task-list">
            <li class="nhsuk-task-list__item
      {% if data['university-details'] === 'completed'
         and data['placement-details'] === 'completed'
         and data['add-travel-date-evidence'] === 'completed' %}
        nhsuk-task-list__item--with-link
      {% endif %}">

                <div class="nhsuk-task-list__name-and-hint">
                    {% if data['university-details'] === 'completed'
                    and data['placement-details'] === 'completed'
                    and data['add-travel-date-evidence'] === 'completed' %}
                    <a class="nhsuk-link nhsuk-task-list__link" href="TDAE-placement-cost-summary"
                        aria-describedby="submit-claim-status">
                        Submit your claim
                    </a>
                    {% else %}
                    <div>Submit your claim</div>
                    {% endif %}
                </div>

                {% if data['submit-claim'] === 'completed' %}
                <div class="nhsuk-task-list__status nhsuk-task-list__status--completed" id="submit-claim-status">
                    Completed
                </div>
                {% elif data['university-details'] === 'completed'
                and data['placement-details'] === 'completed'
                and data['add-travel-date-evidence'] === 'completed' %}
                <div class="nhsuk-task-list__status" id="submit-claim-status">
                    <strong class="nhsuk-tag nhsuk-tag--white">Not started</strong>
                </div>
                {% else %}
                <div class="nhsuk-task-list__status nhsuk-task-list__status--cannot-start-yet" id="submit-claim-status">
                    Cannot start yet
                </div>
                {% endif %}
            </li>
        </ul>


    </div>

</div>
{% endblock %}