{% extends 'layout-public.html' %}

{% block pageTitle %}
Task list
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
        {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
        }) }}

        {% if data['submit-claim'] != 'completed' %}
        <h1 class="nhsuk-heading-l">Travel and Dual Accommodation Expenses task list</h1>
        {% else %}
        <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-9">Travel and Dual Accommodation Expenses task list</h1>
        {% endif %}

        {% if data['submit-claim'] != 'completed' %}
        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Claim tasks incomplete</h2>
        <p class="nhsuk-body nhsuk-u-margin-bottom-7">You have completed 0 of 5 sections.</p>
        {% endif %}


        <h2 class="nhsuk-heading-m">1. Eligible to claim online</h2>
        <ul class="nhsuk-task-list">
            <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
                <div class="nhsuk-task-list__name-and-hint">
                    <a class="nhsuk-link nhsuk-task-list__link" href="TDAE-eligibility-cya"
                        aria-describedby="eligibility-status">
                        Check online eligibility
                    </a>
                </div>
                <div class="nhsuk-task-list__status nhsuk-task-list__status--completed" id="eligibility-status">
                    Completed
                </div>
            </li>
        </ul>

        <h2 class="nhsuk-heading-m">2. University details</h2>
        <ul class="nhsuk-task-list">
            <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
                <div class="nhsuk-task-list__name-and-hint">
                    <a class="nhsuk-link nhsuk-task-list__link" href="{% if data['university-details'] === 'completed' %}
                 TDAE-normal-summary-cya
               {% else %}
                 TDAE-normal-transport
               {% endif %}" aria-describedby="university-status">
                        Provide university details
                    </a>
                </div>

                {% if data['university-details'] === 'completed' %}
                <div class="nhsuk-task-list__status nhsuk-task-list__status--completed" id="university-status">
                    Completed
                </div>
                {% elif data['university-details'] === 'in-progress' %}
                <div class="nhsuk-task-list__status" id="university-status">
                    <strong class="nhsuk-tag nhsuk-tag--blue">In progress</strong>
                </div>
                {% else %}
                <div class="nhsuk-task-list__status" id="university-status">
                    <strong class="nhsuk-tag nhsuk-tag--white">Not started</strong>
                </div>
                {% endif %}
            </li>
        </ul>

        <h2 class="nhsuk-heading-m">3. Placement details</h2>
        <ul class="nhsuk-task-list">
            <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
                <div class="nhsuk-task-list__name-and-hint">
                    <a class="nhsuk-link nhsuk-task-list__link" href="{% if data['placement-address'] === 'completed' %}
                 TDAE-placement-address-cya
               {% else %}
                 TDAE-placement-address
               {% endif %}" aria-describedby="placement-status">
                        Placement details
                    </a>
                </div>

                {% if data['placement-address'] === 'completed' %}
                <div class="nhsuk-task-list__status nhsuk-task-list__status--completed" id="placement-status">
                    Completed
                </div>
                {% elif data['placement-address'] === 'in-progress' %}
                <div class="nhsuk-task-list__status" id="placement-status">
                    <strong class="nhsuk-tag nhsuk-tag--blue">In progress</strong>
                </div>
                {% else %}
                <div class="nhsuk-task-list__status" id="placement-status">
                    <strong class="nhsuk-tag nhsuk-tag--white">Not started</strong>
                </div>
                {% endif %}
            </li>

            {% if data['claiming-travel'] === 'yes' %}
            <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
                <div class="nhsuk-task-list__name-and-hint">
                    <a class="nhsuk-link nhsuk-task-list__link" href="{% if data['travel-details'] === 'completed' %}
                 TDAE-placement-journey-cya
               {% else %}
                 TDAE-placement-return-mileage
               {% endif %}" aria-describedby="travel-status">
                        Placement travel details
                    </a>
                </div>

                {% if data['travel-details'] === 'completed' %}
                <div class="nhsuk-task-list__status nhsuk-task-list__status--completed" id="travel-status">
                    Completed
                </div>
                {% elif data['travel-details'] === 'in-progress' %}
                <div class="nhsuk-task-list__status" id="travel-status">
                    <strong class="nhsuk-tag nhsuk-tag--blue">In progress</strong>
                </div>
                {% else %}
                <div class="nhsuk-task-list__status" id="travel-status">
                    <strong class="nhsuk-tag nhsuk-tag--white">Not started</strong>
                </div>
                {% endif %}
            </li>
            {% endif %}

            {% if data['claiming-accommodation'] === 'yes' %}
            <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
                <div class="nhsuk-task-list__name-and-hint">
                    <a class="nhsuk-link nhsuk-task-list__link" href="{% if data['accommodation-details'] === 'completed' %}
                 #
               {% else %}
                 TDAE-accommodation-start-date
               {% endif %}" aria-describedby="accommodation-status">
                        Placement accommodation details
                    </a>
                </div>

                {% if data['accommodation-details'] === 'completed' %}
                <div class="nhsuk-task-list__status nhsuk-task-list__status--completed" id="accommodation-status">
                    Completed
                </div>
                {% elif data['accommodation-details'] === 'in-progress' %}
                <div class="nhsuk-task-list__status" id="accommodation-status">
                    <strong class="nhsuk-tag nhsuk-tag--blue">In progress</strong>
                </div>
                {% else %}
                <div class="nhsuk-task-list__status" id="accommodation-status">
                    <strong class="nhsuk-tag nhsuk-tag--white">Not started</strong>
                </div>
                {% endif %}
            </li>
            {% endif %}
        </ul>

        <h2 class="nhsuk-heading-m">
            {% if data['any-additional-costs'] === 'no' %}
            4. Claim dates
            {% else %}
            4. Claim dates and evidence
            {% endif %}
        </h2>
        <ul class="nhsuk-task-list">
            {% if data['claiming-travel'] === 'yes' %}
            <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
                <div class="nhsuk-task-list__name-and-hint">
                    <a class="nhsuk-link nhsuk-task-list__link" href="{% if data['submit-claim'] === 'completed' %}
                 TDAE-claim-date-evidence-cya
               {% else %}
                 TDAE-start-claim
               {% endif %}" aria-describedby="dates-status">
                        {% if data['any-additional-costs'] === 'no' %}
                        Placement travel dates
                        {% else %}
                        Placement travel dates and evidence
                        {% endif %}
                    </a>
                </div>

                {% if data['add-travel-date-evidence'] === 'completed' %}
                <div class="nhsuk-task-list__status nhsuk-task-list__status--completed" id="dates-status">
                    Completed
                </div>
                {% elif data['add-travel-date-evidence'] === 'in-progress' %}
                <div class="nhsuk-task-list__status" id="dates-status">
                    <strong class="nhsuk-tag nhsuk-tag--blue">In progress</strong>
                </div>
                {% else %}
                <div class="nhsuk-task-list__status" id="dates-status">
                    <strong class="nhsuk-tag nhsuk-tag--white">Not started</strong>
                </div>
                {% endif %}
            </li>
            {% endif %}
        </ul>

        <h2 class="nhsuk-heading-m">5. Submit claim</h2>
        <ul class="nhsuk-task-list">
            <li class="nhsuk-task-list__item
      {% if data['university-details'] === 'completed'
         and data['placement-details'] === 'completed'
         and data['add-travel-date-evidence'] === 'completed' %}
        nhsuk-task-list__item--with-link
      {% endif %}">

                <div class="nhsuk-task-list__name-and-hint">
                    {% if data['university-details'] === 'completed'
                    and data['placement-details'] === 'completed'
                    and data['add-travel-date-evidence'] === 'completed' %}
                    <a class="nhsuk-link nhsuk-task-list__link" href="TDAE-placement-cost-summary"
                        aria-describedby="submit-status">
                        Submit your claim
                    </a>
                    {% else %}
                    <div>Submit your claim</div>
                    {% endif %}
                </div>

                {% if data['submit-claim'] === 'completed' %}
                <div class="nhsuk-task-list__status nhsuk-task-list__status--completed" id="submit-status">
                    Completed
                </div>
                {% elif data['university-details'] === 'completed'
                and data['placement-details'] === 'completed'
                and data['add-travel-date-evidence'] === 'completed' %}
                <div class="nhsuk-task-list__status" id="submit-status">
                    <strong class="nhsuk-tag nhsuk-tag--white">Not started</strong>
                </div>
                {% else %}
                <div class="nhsuk-task-list__status nhsuk-task-list__status--cannot-start-yet" id="submit-status">
                    Cannot start yet
                </div>
                {% endif %}
            </li>
        </ul>


    </div>

</div>
{% endblock %}