<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}

<!-- Variables -->
{% set loggedIn = false %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Learning Support Fund
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <!-- Change the page title here -->
    <h1 class="nhsuk-heading-xl"><span class="nhsuk-caption-xl nhsuk-caption--bottom">Learning Support Fund</span>Web
    </h1>
    <!-- Add your content here -->
    <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->
    <p class="nhsuk-body-l">An online system accessed by NHSBSA Processor staff.
    </p>


    <div>
      <h2 class="nhsuk-heading-l">Version 7</h2>
      <p>Currently working on simply duplicating V6, and fixing issues with the Prototype Kit update.</p>

      <a class="nhsuk-button" href="v7/current-search-student">Search student</a><br>
      <a class="nhsuk-button nhsuk-button--secondary" href="v7/TDAE-student-claim-dsa">TDAE claim (DSA taxi claim)</a>
    </div>

    <hr>

    <div>
      <h2 class="nhsuk-heading-l">Versions 1-6</h2>
      <p>These can be found in the old LSF prototype.</p>

      <a class="nhsuk-action-link" href="https://learning-support-fund.herokuapp.com/">
        <svg class="nhsuk-icon nhsuk-icon--arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          width="16" height="16" focusable="false" aria-hidden="true">
          <path
            d="M12 2a10 10 0 0 0-10 9h11.7l-4-4a1 1 0 0 1 1.5-1.4l5.6 5.7a1 1 0 0 1 0 1.4l-5.6 5.7a1 1 0 0 1-1.5 0 1 1 0 0 1 0-1.4l4-4H2A10 10 0 1 0 12 2z" />
        </svg>
        <span class="nhsuk-action-link__text">Visit old LSF prototype</span>
      </a>

    </div>
  </div>
</div>
{% endblock %}