<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}

<!-- Variables -->
{% set loggedIn = false %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Learning Support Fund
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <!-- Change the page title here -->
    <h1 class="nhsuk-heading-xl"><span class="nhsuk-caption-xl nhsuk-caption--bottom">Learning Support Fund</span>Public
    </h1>
    <!-- Add your content here -->
    <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->
    <p class="nhsuk-body-l">An online system accessed by students.</p>

    <hr>

    <div>
      <h2 class="nhsuk-heading-m">Version 10</h2>
      <p>Currently working on simply duplicating V9, and fixing issues with the Prototype Kit update.</p>
      <!-- <p>Choose where to start in the prototype.</p> -->

      <div class="nhsuk-form-group">
        <div class="nhsuk-u-margin-right-4" style="float: left">
          <label class="nhsuk-label" for="v10-start-point">
            Start at
          </label>
          <select class="nhsuk-select" id="v10-start-point" name="v10-start-point">
            <option value="v10/start-screen">Register</option>
            <option value="v10/sign-in/sign-in">Sign in</option>
            <option value="v10/dashboard" selected>Dashboard</option>
            <option value="v10/academic-year-details?questionnaire-completed=Completed">Training grant application
            </option>
            <option value="v10/TDAE-task-list-full">TDAE task list (all costs)</option>
          </select>
        </div>

        <button class="nhsuk-button" style="margin-top: 12px" type="button" onclick="goToV10Start()">
          Start prototype
        </button>
      </div>
    </div>


    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Preventing changes to or from an Employment Based (EB) course [ticket 3724]
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Jira ticket: <a href="https://bsa2468.atlassian.net/browse/P3LCL-3724">3724</a>.</p>
        <p>New journeys / pages:</p>
        <ul>
          <li><a href="v10/academic-year-details?onEBcourse=No&onlyEBcoursesAvailable=Yes">Update course details</a> -
            student IS NOT currently on an EB course,
            and only EB courses are available</li>
          <li><a href="v10/academic-year-details?onEBcourse=No&onlyEBcoursesAvailable=No">Update course details</a> -
            student IS NOT currently on an EB course, and some non-EB courses are available
          </li>
          <li><a href="v10/academic-year-details?onEBcourse=Yes">Update course details</a> -
            student IS currently on an EB course</li>
        </ul>


      </div>
    </details>

    <hr>

    <div>
      <h2 class="nhsuk-heading-m">Versions 1-9</h2>
      <p>These can be found in the old LSF prototype.</p>

      <a class="nhsuk-action-link" href="https://learning-support-fund.herokuapp.com/">
        <svg class="nhsuk-icon nhsuk-icon--arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          width="16" height="16" focusable="false" aria-hidden="true">
          <path
            d="M12 2a10 10 0 0 0-10 9h11.7l-4-4a1 1 0 0 1 1.5-1.4l5.6 5.7a1 1 0 0 1 0 1.4l-5.6 5.7a1 1 0 0 1-1.5 0 1 1 0 0 1 0-1.4l4-4H2A10 10 0 1 0 12 2z" />
        </svg>
        <span class="nhsuk-action-link__text">Visit old LSF prototype</span>
      </a>
    </div>

  </div>
</div>

<script>
  function goToV10Start() {
    var select = document.getElementById('v10-start-point');
    if (select && select.value) {
      window.location.href = select.value;
    }
  }
</script>
{% endblock %}